.profi{
    width: 100%;
    max-width: 1440px;
    padding-top: 120px;
    padding-bottom: 0px;
    box-sizing: border-box;
}
.profi__title{
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    width: 83.3%;
    text-align: start;
    margin: 0 auto 40px auto;
}
.profi__container{
    display: grid;
    grid-template-columns: repeat(3, 31.7%);
    column-gap: 30px;
    grid-template-rows: repeat(2, 48.2%);
    row-gap: 28px;
    width: 83.3%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}
.profi__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(16, 40, 84, 0.1);
    border-radius: 32px;
    gap: 16px;
}
.profi__content_oborot{
    background: #1D6BF3;
}

.profi__text{
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #1A1B22;
    align-self: stretch;
    margin: 32px 0 0 24px;
    text-align: start;
}
.profi__text_size{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
}
.profi_image{
    width: 280px;
    height: 186px;
    margin: 0 auto 0 auto;
}
.profi__text_oborot{
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: start;
}
.profi__text_oborot:last-child{
    margin: auto 24px 32px 24px;
}