.formaSauvka {
    background: #387CF1;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 930px) {
    .formaSauvka {
        padding-top: 32px;
    }
}

.formaSauvka__container {
    max-width: 790px;
    background: #FFFFFF;
    padding: 20px 102px;
    border-radius: 32px 32px 0px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 930px) {
    .formaSauvka__container {
        max-width: 343px;
        padding: 36px 33px;
    }
}

.formaSauvka__form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 930px) {
    .formaSauvka__form-container {
        flex-direction: column;
        align-items: center;
    }
}

.formaSauvka__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 40px;
    max-width: 584px;
    text-align: center;
    padding-top: 20px;
}

@media screen and (max-width: 930px) {
    .formaSauvka__title {
        font-size: 28px;
        line-height: 36px;
        max-width: 341px;
        padding-top: 0px;
        margin: 0 0 32px;
    }
}

.formaSauvka__field {
    position: relative;
    margin: 0 0 52px 0;
    width: 277px;
}

.formaSauvka__field:nth-child(odd) {
    margin-right: 31px;
}

@media screen and (max-width: 930px) {
    .formaSauvka__field {
        margin-bottom: 26px;
    }

    .formaSauvka__field:nth-child(odd) {
        margin-right: 0px;
    }
}

.formaSauvka__inputs {
    font-size: 18px;
    line-height: 28px;
    box-sizing: border-box;
    width: 277px;
    height: 32px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    position: relative;
    outline: none;
}

@media screen and (max-width: 930px) {
    .formaSauvka__inputs {
        font-size: 16px;
        line-height: 22px;
    }
}

.formaSauvka__inputs_typed {
    border-color: green;
  }

.formaSauvka__inputs::placeholder {
    color: #D6D6D6;
}

.formaSauvka__text-error {
    font-size: 12px;
    line-height: 24px;
    color: #FF3B30;
    transition: 0.3s;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
}

.formaSauvka__text-error_visible {
    opacity: 1;
}

.formaSauvka__inputs_stek {
    border: 2px solid #A9A9AD;
    border-radius: 16px;
    width: 573px;
    height: 116px;
    padding: 16px;
    margin-bottom: 24px;
    resize: none;
    outline: none;
}

@media screen and (max-width: 930px) {
    .formaSauvka__inputs_stek {
        font-size: 16px;
        line-height: 22px;
        width: 277px;
        height: 84px;
        margin-bottom: 16px;
        padding: 12px;
        box-sizing: border-box;
    }
}

.formaSauvka__inputs_error {
    border-bottom: 1px solid #FF3B30;
}

.formaSauvka__inputs:focus {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.formaSauvka__inputs_stek::placeholder {
    color: #D6D6D6;
}

.formaSauvka__inputs_stek:focus {
    border: 2px solid rgb(0, 0, 0);
}

.formaSauvka__checkbox {
    text-align: left;
    margin-bottom: 32px;
}

.formaSauvka__checkbox-text {
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width: 930px) {
    .formaSauvka__checkbox {
        display: flex;
        align-items: flex-start;
    }
}
@media screen and (max-width: 930px) {
    .formaSauvka__checkbox-text {
        color: #A9A9AD;
        font-size: 12px;
        line-height: 16px;
        max-width: 235px;
    }
}

.formaSauvka__checkbox-item {
    margin: 0 8px 0 0;
}

.formaSauvka__direction-button {
    font-size: 18px;
    line-height: 28px;
    box-sizing: border-box;
    width: 277px;
    height: 32px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    position: relative;
    text-align: left;
    background-color: #FFFFFF;
    color: #D6D6D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 930px) {
    .formaSauvka__direction-button {
        font-size: 16px;
        line-height: 22px;
        width: 277px;
        height: 26px;
        margin-bottom: 16px;
    }
}

.formaSauvka__submit-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #000000;
    border-radius: 100px;
    width: 210px;
    height: 60px;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    transition: color 0.5s;
    transition: background-color 0.5s;
  }

  @media screen and (max-width: 930px) {
    .formaSauvka__submit-button {
        height: 50px;
    }
}
  
  .formaSauvka__submit-button:hover {
    background-color: #FFFFFF;
    color: #000000;
  }

  .star {
    color: #387CF1;
    margin: 0 8px 0 0;
  }

.formaSauvka__menu {
    width: 277px;
    height: 260px;
    box-shadow: 0px 1px 16px rgba(16, 40, 84, 0.08);
    border-radius: 12px;
}

.formaSauvka__menu-item {
    width: 261px;
    height: 40px;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    transition: color 0.5s;
    transition: background-color 0.5s;
    display: flex;
    align-items: center;
}

.formaSauvka__menu-item::before {
    content: '';
    width: 20px;
}

.formaSauvka__menu-item:hover {
    background-color: #F0F1F3;
    border-radius: 12px;
}

.formaSauvka__divider {
    height: 10px;
}

.formaSauvka__direction-button_active {
    color: #000000;
}