.popup__close {
  background-image: url("../../images/close.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 40px;
  top: 40px;
  background-color: white;
  z-index: 2;
  border: none;
  opacity: 1;
}

.popup__close:hover {
  transition: opacity .2s linear;
  opacity: .6;
  cursor: pointer;
}

.popup {
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s linear;
  background-color: rgba(0, 0, 0, .5);
  z-index: 6;
}

.popup__container {
  width: 994px;
  height: 754px;
  position: relative;
  background-color: white;
  border-radius: 32px;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__top-container {
  margin: 0;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 32px;
  box-shadow: 2px 2px 15px rgba(16, 40, 84, 0.1);
}

.popup__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-align: left;
  margin: 0;
}

.popup__two-columns {
  display: flex;
}

.popup__buttons {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.popup__texts {
  width: 50%;
}

.popup__button {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px 15px rgba(16, 40, 84, 0.1);
  color: 1D6BF3;
  background-color: white;
  margin-top: 28px;
  margin-left: 40px;
  border-radius: 100px;
  width: fit-content;
  padding: 12px 20px;
  max-width: 420px;
  max-height: 68px;
  opacity: 1;
}

.popup__background-link {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 100px;
  width: 288px;
  height: 60px;
  color: white;
  background-color: black;
  margin-right: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__background-link:hover {
  transition: background-color .2s linear;
  background-color: #1D6BF3;
  cursor: pointer;
}

.popup__button-name_color_white {
  color: black;
}

.popup__button:hover {
  transition: opacity .2s linear;
  cursor: pointer;
  opacity: .6;
}

.popup__button-name {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.popup__button:first-child {
  margin-top: 32px;
}

.popup__button_active {
  color: white;
  background-color: #1D6BF3;
}

.popup__text {
  margin: 0;
  margin-top: 24px;
  margin-right: 40px;
  margin-left: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.popup__button:first-child {
  margin-top: 32px;
}

.popup__background-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 63px 40px 10px auto;
}

.popup__link {
  width: 194px;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}

.popup__link:hover {
  transition: background-color .2s linear;
  background-color: #1D6BF3;
}

.popup__text_list::before {
  content: '\25CF';
}

.popup__move-buttons {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1080px) {
  .popup__container {
    width: 375px;
    height: fit-content;
    margin-top: 30px;
  }

  .popup__title {
    margin: 0;
    width: 311px;
    margin-left: 8px;
    font-size: 20px;
    line-height: 24px;
  }

  .popup__top-container {
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .popup__close {
    right: 16px;
    top: 24px;
  }

  .popup__button-name {
    font-size: 16px;
    line-height: 20px;
    min-width: 92px;
  }

  .popup__text {
    font-size: 16px;
    line-height: 22px;
  }

  .popup__two-columns {
    flex-direction: column;
  }

  .popup__buttons {
    overflow: hidden;
    width: 360px;
    padding-left: 8px;
    padding-top: 30px;
    padding-bottom: 8px;
    position: relative;
    height: 100px;
  }


  .popup__move-buttons {
    position: absolute;
    align-items: center;
    flex-direction: row;
    width: 1400px;
  }

  .popup__button {
    margin: 0;
    padding: 0;
    max-width: 240px;
    max-height: 94px;
    margin-left: 16px;
    padding: 12px 20px;
  }

  .popup__button:first-child {
    margin-top: 0;
    margin-left: 0;
  }

  .popup__texts {
    width: 100%;
  }

  .popup__background-container {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 auto;
  }

  .popup__link {
    width: 343px;
    height: 50px;
    margin: 16px auto 32px;
  }

  .popup__background-link {
    width: 343px;
    height: 50px;
    margin: 20px auto 0;
  }
}