.header {
  margin: 0;
  padding: 0 120px;
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 5;
  background-color: black;
}

.header__logo {
  width: 163px;
  height: 30px;
}

.header__links {
  display: flex;
  gap: 20px;
}

.header__link {
  text-decoration: none;
  color: white;
}

.header__link-text {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header__send-request {
  margin-right: 260px;
  border: 1px solid white;
  border-radius: 100px;
  width: 198px;
  height: 50px;
  background-color: black;
}

.header__send-request:hover {
  cursor: pointer;
  transition: background-color .2s linear;
  background-color: #1D6BF3;
}