.feedback {
  padding: 120px;
  display: block;
}

.feedback__video-container {
  display: flex;
  flex-direction: column;
}

.feedback__title {
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 40px;
}

.feedback__text {
  width: 445px;
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.feedback__video {
  position: relative;
  z-index: -1;
  margin-left: 0;
  padding: 0;
}

.feedback__video-front {
  position: absolute;
  left: 180px;
  bottom: 204px;
  text-align: left;
  z-index: 1;
}

.feedback__send-request {
  border: none;
  background-color: rgba(red, green, blue, 0);
}